name: my first workflow
on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps: 
        - name: checkout 
          uses: actions/checkout@v6        

        - name: list the files before run
          run: ls -ltrh

        - name: run the script
          run: |
            chmod +x ./ascii-script.sh 
            ./ascii-script.sh
