on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps: 
        - name: checkout 
          uses: actions/checkout@v6        

        - name: list files
          run: ls

        - name: read files
          run: cat README.md